*{
  /*border: solid 1px;*/
  font-family:微軟正黑體;
  position:relative;
}
html,body{
  width:100%;height:100%;
  padding:0px;margin:0px;
}
body{
  background-color:#d5e3f1;
  border-top:solid 35px #fefcb4;
  border-bottom:solid 35px #fefcb4;
  box-sizing:border-box;
  overflow:hidden;
}
.namecard{
  width:350px;height:200px;
  padding:20px;
  margin-left:auto;
  margin-right:auto;
  margin-top:100px;
  background-color:#eee;
  color:rgba(0,0,0,0.5);
  overflow:hidden;
  border:solid 1px rgba(0,0,0,0.15);
  border-radius:10px;
  box-shadow:30px 30px 25px -10px rgba(0,0,0,0.25);
}
.namecard h2{
  font-size:25px;
}
.namecard h2 span{
  font-size:18px;
  font-weight:500;
}
.namecard h5{
  font-size:16px;
  color:#4676aa;
  letter-spacing:4px;
}
.namecard p{
  font-size:14px;
  letter-spacing:6px;
  line-height:22px;
}
.namecard p1{
  font-size:14px;
  letter-spacing:6px;
  line-height:22px;
  font-weight:1000;
}
.circle{
  width:100px;height:100px;
  border-radius:100%;
  position:absolute;
  /*right:100px;*/
}
.c{
  width:100px;height:100px;
  border-radius:100%;
  position:absolute;
  /*right:100px;*/
}
.c1{
  right:100px;
  background-color:#596b97;
  animation-name: example1;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  position:relative;
}
@keyframes example1{
0% {background-color:#596b97;left:100px;top:100px;}
25% {background-color:#755997;left:500px;top:100px;}
50% {background-color:#975975;left:100px;top:100px;}
75% {background-color:#7e9a8a;left:0px;top:100px;}
100% {background-color:#596b97;left:100px;top:100px;}
}
.c2{
  left:100px;
  background-color:#596b97;
  animation-name: example2;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  position:relative;
}
@keyframes example2{
0% {background-color:#596b97;left:1400px;bottom:-50px;}
25% {background-color:#755997;left:800px;bottom:-50px;}
50% {background-color:#975975;left:1200px;bottom:-50px;}
75% {background-color:#7e9a8a;left:1400px;bottom:-50px;}
100% {background-color:#596b97;left:1200px;bottom:-50px;}
}
.circle1{
  right:100px;
  background-color:#fefcb4;
}
.circle2{
  top:-40px;
  right:-20px;
  width:80px;height:80px;
  border:dotted 6px #f4b4c3;
}
.circle3{
  top:0px;
  right:-40px;
  width:80px;height:80px;
  border:solid 5px #fefcb4;
}
.circle4{
  right:0px;
  background-color:#f4b4c3;
}
.circle5{
  right:300px;
  background-color:#fefcb4;
}
.circle6{
  right:200px;
  background-color:#f4b4c3;
}
.circle7{
  width:250px;height:250px;
  right:1350px;
  background-color:#ea9597;
  border:solid 20px#feebb4;
}
.circle8{
  width:180px;height:180px;
  right:1300px;bottom:10px;
  background-color:#feebb4;
  border:solid 20px#ea9597;
}
.circle9{
  width:120px;height:120px;
  right:1450px;bottom:110px;
  background-color:#ea9597;
  border:solid 10px#feebb4;
}
.circle10{
  width:250px;height:250px;
  right:1200px;bottom:-200px;
  background-color:#feebb4;
  border:solid 20px#ea9597;
}
.circle11{
  width:100px;height:100px;
  right:1250px;bottom:35px;
  background-color:#ea9597;
  border:solid 10px#feebb4;
}
.circle12{
  width:150px;height:150px;
  right:1250px;bottom:-150px;
  background-color:#feebb4;
  border:solid 20px#ea9597;
}
.circle13{
  width:90px;height:90px;
  right:1365px;bottom:80px;
  background-color:#ea9597;
}
.page_title{
  text-align:center;
  font-size:30px;
  font-weight:800;
  line-height:200px;
  color:#57618e;rgba(0,0,0,0.5);
}
.mark{
  font-size:350px;
  position:absolute;
  width:100%;
  height:100%;
  text-align:center;
  color:#f4b4c3 ;rgba(0,0,0,0.1);
}
.mark1{
  font-size:350px;
  position:absolute;
  width:100%;
  height:100%;
  top:100px;
  right:-250px;
  color:#fefcb4 ;rgba(0,0,0,0.1);
}

